// https://www.colourlovers.com/palette/391129/Monochromatic_II
// $palette0: #F5F2FC;
// $palette1: #EDE9F2;
// $palette2: #D6CED5;
// $palette3: #B0A9AE;
// $palette4: #807A71;
// $palette5: #807A71;

// https://www.colourlovers.com/palette/12219/Faith
$palette0: #F5F5F5;
$palette1: #EEEEEE;
$palette2: #E5E5E5;
$palette3: #DDDDDD;
$palette4: #A5A5A5;
$palette5: #454343;

$heading-font: Dosis, sans-serif;
$body-font: Raleway, sans-serif;