// https://www.colourlovers.com/palette/391129/Monochromatic_II
// $palette0: #F5F2FC;
// $palette1: #EDE9F2;
// $palette2: #D6CED5;
// $palette3: #B0A9AE;
// $palette4: #807A71;
// $palette5: #807A71;

// https://www.colourlovers.com/palette/12219/Faith
$palette0: #f5f5f5;
$palette1: #eeeeee;
$palette2: #e5e5e5;
$palette3: #dddddd;
$palette4: #a5a5a5;
$palette5: #454343;

$heading-font: Dosis, sans-serif;
$body-font: Raleway, sans-serif;

$screen-lg: 75rem;
$screen-md: 47rem;
$screen-sm: 34rem;

$spacing: 1rem;

@mixin breakpoint($point) {
    @if $point == large {
        @media (min-width: $screen-md) {
            @content;
        }
    } @else if $point == medium {
        @media (max-width: $screen-md) {
            @content;
        }
    } @else if $point == small {
        @media (max-width: $screen-sm) {
            @content;
        }
    }
}
