@import "@styles/variables";

.Gallery {
    &__content {
        padding: $spacing * 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(small) {
            padding: $spacing;
        }
    }

    .Listing {
        margin: $spacing * 4 0 $spacing * 8;
        width: 100%;

        @include breakpoint(medium) {
            margin: $spacing * 2 0 $spacing * 4;
        }
    }

    .Card {
        padding: $spacing;
    }
}
