@import "@styles/variables";

.Splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .Card {
    position: relative;
    top: -10vh;
    transform: rotate(0.25deg) scale(1);

    &:hover {
      transform: rotate(-0.75deg) scale(1.02);
      box-shadow: 2px 2px 5px $palette4;
    }
  }

  h1 {
    font-size: 5rem;
  }

  a:hover {
    text-decoration: none;
  }

  .location {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: $spacing;
  }
}
